form(action="/projects/:project", method="post")
    input(type="text" name="project" placeholder="Project name")
    
    input(type="text" name="desc" placeholder="Description")
    
    button(type="submit" class="button-primary") Create