form(action="/projects", method="post")
    input(type="text" name="name" placeholder="Project name")
    
    input(type="text" name="desc" placeholder="Description")
    
    button(type="submit" class="button-primary") Create